{% extends 'base.html' %}

{% block header %}
	<h1><center>{% block title %}{{ post['title'] }}{% endblock %}</center></h1>
	<div class="about"> by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
	{% if g.user['id'] == post['author_id'] %}
		<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
	{% endif %}
	
	<form action="{{ url_for('blog.user_like', id=post['id']) }}" method="post">
	<button><svg viewBox="0 0 24 24" width="1em" height="1em" class="icon__3Su4"><path fill-rule="evenodd" d="M7 19v-8H4v8h3zM7 9c0-.55.22-1.05.58-1.41L14.17 1l1.06 1.05c.27.27.44.65.44 1.06l-.03.32L14.69 8H21c1.1 0 2 .9 2 2v2c0 .26-.05.5-.14.73l-3.02 7.05C19.54 20.5 18.83 21 18 21H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h3zm2 0v10h9l3-7v-2h-9l1.34-5.34L9 9z"></path></svg> <span>{{ post['thumbsup'] }}</span></button>
	</form>

	<form action="{{ url_for('blog.user_unlike', id=post['id']) }}" method="post">
	<button class="btn__r7r7 css-1rdgofi"><svg viewBox="0 0 24 24" width="1em" height="1em" class="icon__3Su4"><path fill-rule="evenodd" d="M17 3v12c0 .55-.22 1.05-.58 1.41L9.83 23l-1.06-1.05c-.27-.27-.44-.65-.44-1.06l.03-.32.95-4.57H3c-1.1 0-2-.9-2-2v-2c0-.26.05-.5.14-.73l3.02-7.05C4.46 3.5 5.17 3 6 3h11zm-2 12V5H6l-3 7v2h9l-1.34 5.34L15 15zm2-2h3V5h-3V3h3a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-3v-2z"></path></svg> <span>{{ post['thumbsdown'] }}</span></button>
	</form>

{% endblock %}

{% block content %}
	<article class="post">
		<p class="body">{{ post['body'] }}</p>
	</article>
	<form action="{{ url_for('blog.user_comment', id=post['id']) }}" method="post">
		<label for="comment">Add Comment</label>
		<textarea name="comment" id="comment"></textarea>
		<input type="submit" value="COMMENT">
	</form>

	{% for comment in comments %}
		<article class="comment">
			<header>
				<div>
					<div class="about">by {{ comment['username'] }} on {{ comment['created'].strftime('%Y-%m-%d-%H-%M-%S') }}</div>
				</div>
			</header>
			<p class="content">{{ comment['content'] }}</p>
		</article>
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}

{% endblock %}
